<div id="<%= dom_id event %>">
  <h1><%= event.name %></h1>
  <p>
    Created by <%= link_to event.creator.email, event.creator %>
  </p>
    <p>
    <%= event.date %>
  </p>
    <p>
    <%= event.location %>
  </p>

</div>