<%= render @event %>

<% if @event.attendees.any? %>
  <h2>Attendees</h2>
  <ul>
    <% @event.attendees.each do |user| %>
      <li><%= link_to user.email, user %></li>
    <% end %>
  </ul>
<% end %>

<% if signed_in? %>
  <p>
    <% unless @event.attendees.where(id: current_user.id).any? %>
      <%= button_to "Attend event", event_users_path(event_id: @event.id), method: :post %>
    <% else %>
      <%= button_to 'Cancel attending', event_user_path(EventUser.where(attendee_id: current_user.id, attended_event_id: @event.id).first), method: :delete, data: {turbo_confirm: 'Are you sure?'} %>
    <% end %>
  </p>
<% end %>

<div>
  <%= link_to "Back to events", events_path %>
  
  <% if @event.creator == current_user %>
    <p>
      <%= link_to "Edit this post", edit_event_path(@event) %>
      <%= button_to "Destroy this event", @event, method: :delete %>
    </p>
  <% end %>
</div>