<p style="color: green"><%= notice %></p>

<%= render @event %>

<% if @event.attendees.any? %>
  <h2>Attendees</h2>
  <ul>
    <% @event.attendees.each do |user| %>
      <li><%= user.email %></li>
    <% end %>
  </ul>
<% end %>

<% unless @event.attendees.where(id: current_user.id).any? %>
<p>
<%= button_to "Attend event", event_users_path(event_id: @event.id), method: :post %>
</p>
<% else %>
<%= link_to 'Cancel attending', event_user_path(EventUser.where(attendee_id: current_user.id, attended_event_id: @event.id).first), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
<% end %>

<div>
  <%#= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to events", events_path %>

  <%#= button_to "Destroy this post", @post, method: :delete %>
</div>